p{
    background-color:rgb(201, 187, 206);
    font-style: oblique;
    font: size 60px;

}
h1{
    background-color: rgb(235, 252, 0);
    font-size: 100px;
}
h2{
    background-color: rgb(255, 0, 212);
    font-size: 70px;
}