.rajesh{
    background-color: green;
}
.sunil{
    background-color:pink;
}
span{
    background-color:red;
}
#abc{
    background-color:blueviolet;
}
.shanbor{
    background-color: orangered;
}


p{
    background-color:yellow;
}

h4{
    background-color: aqua;
}
h1{
    background-color: brown;
}